ul.nav.nav-list
	li.nav-header Manage
	li.item-dashboard
		a(href='/admin/dashboard/#{admin.token}') Dashboard
	li.item-servers
		a(href='/admin/servers/#{admin.token}') Hub Servers
	li.item-services
		a(href='/admin/services/#{admin.token}') Services

	li.nav-header Monitor
	li.item-monitors
		a(href='/admin/monitors/#{admin.token}') Service Monitor

	li.nav-header Account
	li.item-accounts
		a(href='/admin/accounts/#{admin.token}') Admin Accounts
	li.item-logs
		a(href='/admin/logs/#{admin.token}') Management Logs